!!!
%html
  %head
    %meta{ name: "viewport", content: "width=device-width,user-scalable=no,maximum-scale=1.0,initial-scale=1.0"}
    %script{ src: "javascripts/lib/jquery-1.11.2.min.js" }
    %script{ src: "javascripts/lib/velocity.min.js" }
    %script{ src: "javascripts/lib/hammer.min.js" }
    %script{ src: "javascripts/lib/react-with-addons.js" }
    %script{ src: "javascripts/lib/JSXTransformer.js" }
    %script{ src: "javascripts/app.js" }
    %link{rel: "stylesheet", type: "text/css", href: "styles/main.css"}
  %body
    .vpt-ctnr.js-vpt-ctnr
      .viewport.js-viewport-prev
      .viewport.js-viewport-current
        #react-container
        .guest-list-header
          Event Page
        .some-text
          Lorem ipsum Voluptate anim deserunt voluptate aliquip tempor in Ut incididunt ut veniam qui ut elit dolore aliqua eiusmod velit ea eu occaecat cillum enim adipisicing irure occaecat enim eiusmod mollit dolore fugiat minim deserunt ad cupidatat do laboris nostrud non magna laborum esse dolore esse esse culpa voluptate Duis in ea ex nulla veniam et labore nisi in ut dolor et ea dolore culpa sed 
        %a.guest-link.js-slide-change{data-partial: "partials/guest_panel.html"}
          View the guest list
        .some-text
          Excepteur occaecat nisi ad commodo ut sit aliqua ut officia consectetur elit velit voluptate sunt commodo dolore sit veniam culpa voluptate deserunt incididunt minim laboris amet culpa Ut laboris pariatur commodo laboris incididunt dolore pariatur do pariatur aliquip mollit ullamco consequat aliqua consequat laborum laborum occaecat tempor occaecat cillum deserunt minim labore ad culpa enim amet eu reprehenderit do ex officia 
        .some-text
          Excepteur dolore dolore eu ullamco quis cillum cupidatat ut anim ad cupidatat deserunt irure nisi occaecat magna proident fugiat eiusmod adipisicing exercitation cillum non do labore in velit anim in sunt sunt esse laboris eiusmod pariatur dolore est voluptate Duis occaecat in ut consequat magna sed eu in nisi exercitation velit mollit in aliquip.
      .viewport.js-viewport-next
    .menu-holder.js-menu-holder
      .circle--small-1.js-slide-change{data-partial: "partials/messages_panel.html"}
        M
      .circle--small-2.js-slide-change{data-partial: "partials/guest_panel.html"}
        G
      .circle.js-circle
        %span
          +
    %script{src: "javascripts/react_components/components.js", type: "text/jsx"}
